body {
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
}

.dark-background {
    background-color: #1F2937;
}

.logo {
    font-weight: bold;
    font-size: 24px;
    color: #F9FAF8;
}

.main-text {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: bolder;
}

.header-link {
    font-size: 18px;
    color: #E5E7EB;
}

.subtext {
    font-size: 18px;
    color: #E5E7EB;
    padding-top: 24px;
    padding-bottom: 24px;
}

.information-header-text {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
}

.card-button {
    max-width: fit-content;
    padding: 8px;
    font-size: 18px;
    color: #ffffff;
    background-color: #3882f6;
    border-radius: 8px;
    border-width: 0;
    padding-left: 32px;
    padding-right: 32px;
}

header {
    display: flex;
    background-color: #1F2937;
    justify-content: space-between;
    align-items: center;
    padding: 124px;
    padding-top: 8px;
    padding-bottom: 0px;
}

ul {
    text-decoration: none;
    list-style: none;
    display: flex;
    gap: 16px;
}

.card {
    display: flex;
    padding: 124px;
    /* padding-top: px; */
    /* padding-bottom: 124px; */
    gap: 16px;
    justify-content: center;
}

.card-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 40%;
}

.card-white {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 48px;
    padding-bottom: 24px;
}

.card-small {
    max-width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.image-big {
    flex: 1;
    /* width: 300px; */
    /* min-width: 500px; */
    max-width: 550px;
}

.img-small {
    width: 250px;
    height: fit-content;
    padding-bottom: 18px;
}

.grid {
    display: flex;
    gap: 16px;
    padding: 48px;
}

.quote-bg {
    background-color: #e5e7eb;
    padding: 48px;
    margin: 48px;
    margin-top: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.quote {
    max-width: 80%;
}

.quote-txt {
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
}

.quote-author {
    display: flex;
    justify-content: flex-end;
}

.call {
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 64px;
    margin-bottom: 64px;
    background-color: #3882f6;
    display: flex;
    border-radius: 14px;
    padding: 84px;
    justify-content: space-around;
    align-items: center;
}

.call-button {
    max-width: fit-content;
    padding: 8px;
    font-size: 18px;
    color: #ffffff;
    background-color: #3882f6;
    border-radius: 8px;
    border-width: 2px;
    border-color: white;
    padding-left: 32px;
    padding-right: 32px;
}

.call-text {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bolder;
}

footer {
    font-weight: bold;
    padding: 16px;
    display: flex;
    justify-content: center;
}